@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.container {
    width :400px;
    margin :100px auto;

}
.menu-container {
    border :1px solid #ccc;
    margin-bottom :30px;
}
form div {
    display :flex;
    flex-direction :column;
    margin-bottom :15px;
}
input {
    border :1px solid black;
    padding: 5px;
}
button {
    cursor: pointer;
}